.pagination-component{
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 20px;
}

.pagination {
  margin-bottom: 30px;
  text-align: left;
}

.product-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
  column-gap: 10px;
}

.product-card {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.product-img {
  width: 100%;
  height: 70%;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10px;
  justify-content: start;
  gap: 2px;
}
