.page{
    width: 100%;
    height: 100vh;
    text-align: center;
}
.infiniteScroll-holder{
    position: relative;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin:10px auto;
    overflow: auto;
}

.temp{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.item{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}