
.page{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.commentsComponent{
    width: 500px;
    height: 600px;
    border: 1px solid black;
    margin: 10px auto;
}

.comments-list{
    width: 100%;
    padding: 10px;
    padding-left: 26px;
    text-align: left;
    border-left: 1px dashed black;
}
.comment{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.comment-detail{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:10px;
    font-size: 20px;
}
.toggle{
    cursor: pointer;
}

.reply{
    width: 100%;
    padding-left: 30px;
    cursor: pointer;
}