.autocomplete{
    width: 100%;
    height: 100%;
    text-align: center;
}

.search-holder{
    width: 300px;
    margin: 30px auto;
}

.search-input{
    width: 100%;
    height: 40px;
    font-size: larger;
    border-radius: 5px;
}
.suggestion-list-holder{
    width: 100%;
    position: relative;
}
.suggestions-list{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
    margin: 0;

}
.suggestion-item{
    width: 100%;
    text-align: left;
    height: 40px;
    padding-left: 10px;
    border: 0.5px solid gray;
    display: flex;
    align-items: center;
    font-size: medium;
}