
.header{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:start;
    gap:20px;
    padding-left: 10px;
}